@font-face {
    font-family: "Roboto Regular";
    src: url(../font/Roboto-Regular.ttf);
}
*, body {
    margin: 0;
    padding: 0;
    font-family: "Roboto Regular";
}

.main-menu, footer-menu {
    display: flex;
    justify-content: center;
    list-style: none;
}

.main-menu li a {
    padding: 20px;
    list-style: none;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.main-menu li:not(:last-child) {
    border-right: 1px solid black;


    text-decoration: none;
}

.main-menu a {
    color: black;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 20vh;
    background-color: #C3D63C;
}

.divlogo {
    width: 10%;

}

.logo {
    width: 100%;
    object-fit: cover;
}

footer {
    display: flex;
    background-color: black;
    height: 20vh;
    justify-content: center;
    align-items: center;
}

.footer-menu {
    display: flex;

}

.footer-menu li a {
    padding: 20px;
    list-style: none;
    text-decoration: none;
}

.footer-menu li:not(:last-child) {
    border-right: 1px solid black;


    text-decoration: none;
}

.footer-menu a {
    color: #C3D63C;
}

main {
    height: 80vh;
}

.boxBook {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;


}

#contentBook {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "a a a"
    "b b b"
    "c e1 d"
    "c e2 e3";
    text-align: center;
    width: 30%;
    border: 1px solid black;
    margin: 20px auto;
    border-radius: 40px;
    box-shadow: 0px 3px 8px;
    height: 58vh;
    overflow: hidden;
}

#bookTitle {
    grid-area: a;
    text-align: center;
    background-color: #C3D63C;
    width: 100%;
    border-radius: 40px 40px 0 0;
    padding-top: 20px;
}

#bookAuthor {
    grid-area: b;
    width: 100%;
    margin:  20px auto;
    text-align: center;
}




#bookPublish {
    grid-area: d;
    width: 100%;
    margin: auto;
}
.lien1 {
    grid-area: e1;
}
.lien2 {
    grid-area: e2;
}
.lien3 {
    grid-area: e3;
}

#bookImg {
    grid-area: c;
    width: 100%;

    border-radius: 0 40px 0;
    object-fit: cover;

}

@media screen and (max-width: 960px) {
    .boxBook {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px;

    }

    #contentBook {
       display: flex;
        flex-direction: column;
    }
}
.form {
    text-align: center;
    display: flex;
    align-items: center;
    margin: 5% auto;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    width: 30vw;
    height: 50vh;
    border: 1px solid black;
    border-radius: 15px;
    background-color: #AAAAAA;
}
